<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de Clientes</h1>
        <button class="btn btn-info col-lg-4 col-xs-12" on-click="obtenerClientes">Obtener Clientes</button>
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <th>
              Nombre
            </th>
            <th>
              Apellido
            </th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.apellido]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerClientes() {
        var url = "http://127.0.0.1:3000/movimientos";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
      }
      anadirClientes() {
        var url = "http://127.0.0.1:3000/movimientos";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoCliente = {"nombre":"Alfredo", "apellido":"Moreno"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
